@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
    font-family: "iran-sans";
    src: url(./fonts/IRANSans/IRANSans.ttf) format("truetype");
}
    @font-face {
    font-family: "iran-sans-black";
    src: url(./fonts/IRANSans/IRANSans_Black.ttf) format("truetype");
}
    @font-face {
    font-family: "iran-sans-bold";
    src: url(./fonts/IRANSans/IRANSans_Bold.ttf) format("truetype");
}
    @font-face {
    font-family: "iran-sans-light";
    src: url(./fonts/IRANSans/IRANSans_Light.ttf) format("truetype");
}
    @font-face {
    font-family: "iran-sans-medium";
    src: url(./fonts/IRANSans/IRANSans_Medium.ttf) format("truetype");
}
    @font-face {
    font-family: "iran-sans-ultraLight";
    src: url(./fonts/IRANSans/IRANSans_UltraLight.ttf) format("truetype");
}
html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  direction: rtl;
  @apply font-iranSans
  
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

a {
  transition: all 400ms ease;
  @apply text-dark-sabzlearn
  
}

a:hover {
  color: #1e83f0;
}

i {
  user-select: none;
}
}
@layer utilities{
    .flex-center{
        @apply flex items-center justify-center
    }
    .title {
    font-size: 2.3rem;
    color: #444446;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
  }
  
  .title::before {
    content: "";
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4.4rem;
    border-radius: 5rem;
    transform: rotate(8deg);
    @apply bg-green-sabzlearn
  }
  
  .title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    /* max-width: 250px; */
    height: 60%;
    background-color: rgba(43, 206, 86, 0.2);
  }
  /* Start Top-Bar Styles */

.top-bar {
    background-color: #f0f2f7;
    @apply text-dark-sabzlearn py-8
  }
  
  .top-bar__content {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  
  .top-bar__right {
    display: flex;
  }
  
  .top-bar__menu {
    display: flex;
  }
  
  .top-bar__link {
    transition: all 400ms ease;
    font-size: 1.5rem;
    padding: 0 1rem;
    @apply text-dark-sabzlearn
  }
  
  .top-bar__left {
    display: flex;
  }
  
  .top-bar__email,
  .top-bar__phone {
    display: flex;
    align-items: center;
  }
  
  .top-bar__email-text, 
  .top-bar__phone-text {
    padding: 0 0.8rem;
  }
  
  .top-bar__email-icon,
  .top-bar__phone-icon {
    font-size: 2rem;
    @apply text-green-sabzlearn
  }
  
  /* Finish Top-Bar Styles */

  /* Start Navbar Styles */

.main-header__content {
  @apply flex items-center justify-between py-5 px-[1.5rem]
}

.main-header__right {
   @apply flex gap-x-10
}

.main-header__menu {
   @apply flex gap-x-10
}

.main-header__item {
   @apply flex-center relative py-0 py-[1rem]

}

.main-header__link {
  @apply flex-center relative text-[#7f8187]
  
}

.main-header__link:hover {
  @apply text-[#7f8187]
}

.main-header__link-icon {
  @apply mr-[1rem]
}

/* Start DropDown Styles */

.main-header__dropdown {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  @apply absolute top-[5.5rem] left-0 right-0 py-[10px] px-0 bg-white w-80 z-[1] rounded-[.5rem] border-b-[3px] border-green-sabzlearn opacity-0 invisible
}

.main-header__item:hover .main-header__dropdown {
  @apply opacity-100 visible top-[6.5rem]
}

.main-header__dropdown-link {
  transition: all 400ms ease;
  @apply block py-[.6rem] px-5 text-dark-sabzlearn
}

.main-header__dropdown-link:hover {
  color: #1e83f0;
}

/* Finish DropDown Styles */

.main-header__left {
  @apply flex items-center
}

.main-header__search-btn {
  @apply flex-center w-[4.3rem]  h-[4.3rem] rounded-[.5rem] bg-green-sabzlearn
}

.main-header__search-icon {
  @apply text-white text-[2.2rem]
}

.main-header__cart-btn {
  
  border-radius: 0.5rem;
  margin-right: 1rem;
  background-color: #f0f2f7;
  @apply flex-center w-[4.3rem]  h-[4.3rem]
}

.main-header__cart-btn:hover {
  color: #1e83f0;
}

.main-header__cart-icon {
  @apply text-dark-sabzlearn;
  font-size: 2.2rem;
  transition: all 400ms ease;
}

.main-header__profile {
  padding: 0 1.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  transition: all 400ms ease;
  height: 4.3rem;
  @apply flex items-center text-green-sabzlearn border-[2px] border-green-sabzlearn
}

.main-header__profile:hover {
  @apply bg-green-sabzlearn text-white
}

/* Finish Navbar Styles */

  /* Start landing Styles */

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../public/images/background_landing.jfif) no-repeat center center;
  @apply bg-cover bg-fixed text-center py-36 px-0 text-white
}

.landing__title {
  font-size: 3.4rem;
  font-weight: bold;
}

.landing__subtitle {
  font-size: 1.8rem;
  margin-top: 0.3rem;
}

.landing__searchbar {
  width: 700px;
  position: relative;
  margin: 3.5rem auto;
}

.landing__searchbar-input {
  width: 100%;
  padding: 2.5rem;
  border: none;
  border-radius: 1rem;
  color: black;
}
input.landing__searchbar-input::placeholder{
  @apply text-black
}
.landing__searchbar-btn {
  @apply bg-green-sabzlearn border-0 absolute -left-12 w-24 top-[0.7rem] h-24 rounded-2xl;
}

.landing__searchbar-icon {
  font-size: 2.8rem;
  color: white;
}

.landing-status {
  @apply flex justify-evenly items-center;
}

.landing-status__item {
  @apply flex flex-col items-center justify-center;
}

.landing-status__item svg {
  fill: white;
}

.landing-status__count {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.landing-status__text {
  @apply font-bold
}

/* Finish landing Styles */

/* Start Lateset Courses Styles and Section header */

.courses {
  @apply mx-0 my-16;
}

.courses-header {
  @apply flex items-center justify-between
}

.courses-header__right {
  @apply flex flex-col;
}

.courses-header__text {
  @apply text-[#9c9c9c] text-[1.5rem]
}

.courses-header__link {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  @apply flex-center text-white bg-green-sabzlearn
}

.courses-header__link:hover {
  @apply text-white
}

.courses-header__icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

/* Finish Lateset Courses Styles */

 /* start course box */
 .course-box {
  @apply bg-white;
  box-shadow: 0 0 19px rgba(168, 172, 185, 0.3);
  border-radius: 1rem;
  margin: 2rem 0;
  transition: all 400ms ease;
}

.course-box:hover {
  transform: translateY(-0.6rem);
}

.course-box__img {
  @apply w-full;
  border-radius: 1rem 1rem 0 0;
}

.course-box__main {
  padding: 0 1.2rem;
}

.course-box__title {
  display: block;
  padding: 1rem 0;
}

.course-box__rating-teacher {
  @apply flex items-center justify-between
}

.course-box__teacher {
  @apply flex items-center
}

.course-box__teacher-icon {
  color: #6c757d;
  font-size: 1.8rem;
}

.course-box__teacher-link {
  color: #6c757d;
  font-size: 1.2rem;
  margin-right: 0.4rem;
}
.course-box__rating{
  @apply flex
}
.course-box__star {
  margin: -0.2rem;
}

.course-box__status {
  padding: 1rem 0;
  @apply flex items-center justify-between
}

.course-box__users-icon {
  color: #6c757d;
  font-size: 1.6rem;
}

.course-box__users-text {
  color: #6c757d;
  font-size: 1.4rem;
}

.course-box__price {
  color: #9c9c9c;
  font-size: 1.8rem;
}

.course-box__footer {
  @apply flex-center;
  padding: 1.3rem 0;
  border-top: 1px solid #e8e8e8;
}

.course-box__footer-link {
  @apply flex-center text-green-sabzlearn font-bold;
  font-size: 1.5rem;
}

.course-box__footer-icon {
  margin-right: 0.5rem;
  font-size: 1.9rem;
}

 /* finish course box */

 /* Start About Us Styles */

.about-us {
  @apply my-24 mx-0
}

.about-us__header {
  @apply flex flex-col;
}

.about-us__subtitle {
  color: #9c9c9c;
  font-size: 1.5rem;
}

.about-us__box {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 2rem 1.5rem;
}

.about-us__icon {
  color: #666;
  font-size: 6.5rem;
}

.about-us__box-left {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.about-us__box-title {
  font-weight: bold;
  font-size: 1.8rem;
}

/* Finish About Us Styles */
}